extends layout.pug
block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Dalyn Small

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am developer who to experience and go through the various trials with in the programming field.
            | My ambitions in this are endless, which solidifies my interest as the internet progresses into the future.
            | Right now I hope thoroughly utilizes concepts in in coding to it utmost capacity.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Serving Static Files in Express
          li Jquery
          li Programming AJAX
          li Traversing the DOM
          li JavaScript
          li AJAX and APIs
          li HTML forms
          li Template literals
          li Serving Static Files in Express
          li Middleware
        h6 Contact Info

        //- Add your own contact info
        ul
          li 679-598-0502
          li dalynsmall@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/dalynsmall/') LinkedIn
        a.button.expanded(href='https://github.com/Dalynation/Preoject-6.git') GitHub
        a.button.expanded(href='https://www.facebook.com/dalyn.small.3?ref=bookmarks') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
